body {
	font-family: "Cantata One", "Baskerville", "Garamond", serif;
	//font-family: "Cantata One", "Faustina", "Playfair Display", "Domine", "Amiri", "Janson SSi", "Libre Baskerville", "Garamond", serif;
	//font-family: "Janson SSI", "Baskerville", "Garamond", serif;
	color: #000000;
	background-color:  #FFFFFF;
	text-align: center;
}

.title {
	font-size: 300%;
	font-align: center;
}


.toctitle {
	font-size: 300%;
	font-weight: bold;
}

.subtitle {
	font-size: 200%;
	font-weight: bold;
}

.xx-small {
	font-size: xx-small;
}

.x-small {
	font-size: x-small;
}

.smaller {
	font-size: smaller;
}

.small {
	font-size: small;
}

.medium {
	font-size: medium;
}

.large {
	font-size: large;
}

.larger {
	font-size: larger;
}

.x-large {
	font-size: x-large;
}

.xx-large {
	font-size: xx-large;
}

.navbody {
	font-family: "Janson SSI", "Cantata One", "Baskerville", "Garamond", serif;
	background-color: #82AEBF;
	text-align: left;
}

.navfont {
	font-size: 8pt;
}

.tocnavcap {
	font-size: 9pt;
}

.navcenter {
	text-align: center;
	font-size: 8pt;
}

.toctable {
	border: none;
	width: 40%;
	font-size: 8pt;
	table-layout: auto;
	border-collapse: collapse;
	vertical-align: bottom;
}

.tocleft {
	font-size:8pt;
}

.tocright {
	font-size: 8pt;
	vertical-align: bottom;
	text-align: right;
}

.certtable {
	//border: none;
	//table-layout: fixed;
	//border-collapse: collapse;
	width: 27%;
	margin-left: auto;
	margin-right: auto;
}

.certtitle {
	font-size: 1.1em;
	text-align: center;
}

.certjustify {
	text-align: justify;
	font-size: small;
}

.certright {
	text-align: right;
	font-size: small;
}

.drop-cap:first-letter {
    font-size: 2.6em;
    float: left;
    margin-top: -.15em;
    margin-right: .15em;
    margin-bottom: -.15em;
}

.certleft {
	font-size: small;
	text-align: left;
}

.certfoot {
	font-size: .5em
	font-style: italic
	text-align: center;
}

.caltable {
	border: none;
	width: 50%;
	font-size: 8pt;
	table-layout: auto;
	border-collapse: collapse;
	vertical-align: text-bottom;
}

.ratiftable {
	//border: none;
	//table-layout: fixed;
	//border-collapse: collapse;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.ratifbodycaps {
	text-align: justify;
	font-size: .75em;
}

.ratifbody {
	text-align: justify;
	font-size: .8em;
}

.preface {
	width: 39%;
	text-align: justify;
	//text-align-last: justify;
	font-style: italic;
	font-size: small;
}

.prefacelast {
	width: 39%;
	text-align: justify;
	text-align-last: justify;
	font-style: italic;
	font-size: small;
}

.erratabody {
	text-align: left;
	font-size: small;
}

.erratacap {
	font-size: 1.2em;
}

.leftfoot {
	text-align: left;
}

.rightfoot {
	text-align: right;
}

.bodytable {
	//border: none;
	//table-layout: fixed;
	//border-collapse: collapse;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.gentext {
	width: 39%;
	text-align: justify;
	//text-align-last: justify;
	font-style: italic;
	font-size: small;
}







.rubric {
	font-size: small;
	font-style: italic;
	font-align: center;
}

.rubrictable {
	font-size: small;
	font-style: italic;
	vertical-align: top;
}

.verse {
	font-size: small;
	font-style: italic;
}

.vrtable {
	border: none;
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
}

.vrpeople {
	width: 6%;
	font-size: small;
	font-style: italic;
}

.bigvrpeople {
	width: 10%;
	font-size: small;
	font-style: italic;
}

.psnum {
	font-size: xx-large;
	font-weight: bold;
}

.pslatin {
	font-size: small;
	font-style: italic;
}

.vsnum {
	font-size: small;
}

.psday {
	font-size: smaller;
	font-style: italic;
}

.direct {
	font-style: italic;
}

.adddirect {
	font-style: italic;
	font-size:  x-large;
}

.articlehead {
	font-size: small;
	font-weight: bold;
}

.qanda {
	font-size: small;
	font-style: italic;
	vertical-align: text-top;
}

.padrubric {
	font-size: small;
	font-style: italic;
	padding: 10px;
}

.padreg {
	padding: 10px;
}

.padqanda {
	font-size: small;
	font-style: italic;
	vertical-align: text-top;
	padding: 12px;
}

.padreg2 {
	padding: 12px;
}

.body {
	line-height: 1.5;
}

.concern {
	font-style: italic;
}

.h2u {
	text-decoration: underline;
}

.ke {
	width: 4%;
}

.ce {
	width: 4%;
	font-style: italic;
}

.or {
	width: 1%;
	font-style: italic;
}

.ketable {
	border: none;
	width: 30%;
	table-layout: auto;
	border-collapse: collapse;
}

.pntable {
	border: none;
	width: 50%;
	table-layout: auto;
	border-collapse: collapse;
}

.pn {
	width: 50%;
}

.supdirect {
	width: 6%;
	font-size: small;
	font-style: italic;
	vertical-align: top;
}

.nctable {
	border: none;
	width: 75%;
	table-layout: auto;
	border-collapse: collapse;
}

.nc {
	width: 50%;
}

.gentable {
	border: none;
	width: 40%;
	table-layout: auto;
	border-collapse:  collapse;
}

.cattopic {
	font-weight: bold
}

.lecttable {
	font-size: small;
	vertical-align: top;
	table-layout:fixed;
}

.lecttd {
	vertical-align: top;
	width: 175px;
}

.lecttdv {
	vertical-align: top;
}

.dolecttd {
	vertical-align: top;
	width: 330px;
}
